.box {
    background-image: url('../../../public/cameras.jpg');
    background-size: cover; 
    background-position: left;
    background-repeat: no-repeat;
    min-height: 25vh;
}

.pixLogo {
    max-width: 35%;
    background-color: rgba(60, 41, 41, 0.15);
    border-radius: 25px;
}

.customNavLink {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

